body {
    display: flex;
    flex-direction: column;
    height: 100vh;     
    font-family: 'roboto', sans-serif;
    margin: 0;
}

.header {
    background-color: #1f2937;
    display: flex;    
    flex-shrink: 0;     
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    color: #e5e7eb;
    padding: 20px 200px;        
    margin:0;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;

}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.content {
    display: flex;
    flex: 2;
    padding: 100px 200px;
    background-color: #1f2937;
    flex-shrink: 0;
    gap: 8px
    ;
}

.banner_content {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
}

.banner_content h1,
.banner_content p{
    color: #f9faf8;
}


.content button {
    border-radius: 5px;
    padding: 8px;
    border: none;
    background-color: #3882f6;
    color: #f9faf8 ;
    font-size: 16px;
    font-weight: bold;
}

.banner_image {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-self: center;
    justify-content: center;
    flex-shrink: 0;
    background-size: cover;
}

.banner_image img {
    width: 100%;
    height: auto;
    border-radius: 15px;
}

.services {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.services h2 {
    margin-bottom: 0;
}

.service_cards {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.service_card {
    display: flex;;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.testimonials {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    padding: 50px;
}

.testimonials h2 {
    margin: 0;
}

.footer {
    display: flex;
    flex: 1 0;
    justify-content: center;
    align-items: center;
    padding: 50px;
}